*{
    margin: 0;
}

body{
    color: #2f2f2f;

}

header{
    background-color: #e2e2e2;
    color: #2f2f2f;
}

h1, h2, p, a, ul{
    font-family: "Inter", sans-serif;
}

h1, h2{
    font-weight: 600

}

h2{
    font-size: 20pt;
}

p{
    font-size: 12pt;
    line-height: 1.4em;
}

ul{
    line-height: 2em;
}

a{
    color:blueviolet;
    text-decoration: none;
}

a:hover{
    color: fuchsia;
}


footer{
    background-color: #2f2f2f;
    color: white;
}

.border-blue{
    border:2px dashed grey;
}

.box-1{
    margin-top: 20px;
    margin-bottom: 30px;
    margin-right: 25px;
    margin-left: 24px;

    padding-top: 25px;
    padding-bottom: 26px;
    padding-right: 20px;
    padding-left: 19px;

    border: 2px solid grey;
}

.box-1 h1{
    margin-bottom: 15px;
}

.box-2{
    width: 70%;
    margin: auto;

    background-color: #eee;
    
    padding: 25px 20px 26px 19px;

    border: 2px solid grey;
}

.box-2 h2{
    margin-bottom: 15px;
}

.box-3{
    margin: 20px 25px 30px 24px;
    
    padding: 25px 20px 26px 19px;

    border: 2px solid grey;
}

.box-3 h2{
    margin-bottom: 15px;
}

.navigation{
    list-style-type: none;
    padding: 15px;
    margin: 10px;
}

.navigation li{
    float: left;
}

.navigation a{
    display: block;
    padding: 10px;
    background-color: #2f2f2f;
    margin-right: 5px;
}

.navigation ul{
    background-color: #2f2f2f;
}